.l1Container{
    background-color: #b2b2b2;
    width: 100%;
    color : #d2d2d2;
    text-align: left;
    margin-bottom: 10px;
}

.l1Header{
    width: 100%;
    text-align: left;
}

.l1Content{
    display: inline-flex;
}